<html>
<head>
  <title>What's on</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <form action="/search">
    <label for="q">Enter a channel</label>
    <input type="text" name="q">
  </form>
</body>
</html>
