<html>
<head>
  <title>TV.PAT.FM - What's On?</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <h1><span>TV</span>.PAT.FM</h1>
  <form action="/search">
    <label for="q">Enter a channel</label>
    <input type="text" name="q" autofocus>
  </form>
</body>
</html>
